.waiting_scroll_for_grid {
    background: url("spinner.gif") no-repeat 0 1px;
    background-position: center;
    min-height: 40px
}

.with_spinner {
    height: 80px !important;
    position: relative
}

.loader-switchbox {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

.loader-switch {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border-radius: 20px;
    -webkit-animation: cross 2s infinite linear;
    -moz-animation: cross 2s infinite linear;
    animation: cross 2s infinite linear
}

.loader-switch2 {
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes cross {
    50% {
        margin-left: 60px
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes cross {
    50% {
        margin-left: 60px
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes cross {
    50% {
        margin-left: 60px
    }
} 
  
.moogento_spinner {
    position: absolute;
    top: 50%;
    z-index: 100
}

.moogento_spinner,
.moogento_spinner_main {
    margin-top: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    animation-name: moogento_spinner;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    z-index: 300;
    background-image: url("moogento_timer_logo.png");
    background-repeat: no-repeat !important;
    background-size: 60px auto !important
}

.moogento_spinner_main {
    position: fixed;
    top: 45%;
    z-index: 1000
}

@keyframes moogento_spinner {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}